.qw-simple {
  width: 100%;
  height: 100vh;
  background: url('./images/bg-simple.jpg') center center no-repeat;
  background-size: 100% 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.qw-simple-form-content {
  background: rgba(255, 255, 255, 0.4);
  padding: 10px 30px 15px;
  width: 360px;
}

.qw-simple-form-title {
  color: #555;
  font-weight: 300;
  margin-bottom: 25px;
  font-size: 24px;
}

.qw-simple-form-login-button {
  background-color: #71b63b;
  border-color: #71b63b;

  &:hover,
  &:active,
  &:focus {
    background-color: #71b63b;
    border-color: #71b63b;
  }
}
